
@media (max-width: 1024px) {

}

@media (min-width: 1200px) {
    #navbarTask, #content {
        padding: 0 35px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #navbarTask, #content {
        padding: 0 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #navbarTask, #content {
        padding: 0 30px;
    }
}

@media (max-width: 767px) {
    #navbarTop .navbar .navbar-collapse .navbar-nav .dropdown-menu a {
        color: #ffffff;
    }

    #navbarTask ul li {
        float: left;
        width: 50%;
    }

    #navbarTask ul li .btn {
        display: block;
    }
}

@media (max-width: 480px) {
    #navbarTask ul li {
        width: 100%;
    }
}

@media (max-width: 320px) {

}
